* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: wheat;
}

.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-image: linear-gradient(to left, #da3068, #14469f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 25px;
}

.content img {
  width: 150px;
  border-radius: 25px;
}

.social-medias {
  display: flex;
  gap: 20px;
}

.text {
  display: flex;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 20px;
}

button {
  border-radius: 15px;
  border: 1px solid #ccc;
  color: #ccc;
  cursor: pointer;
}

.follow {
  width: 100px;
  height: 30px;
  background-color: #da3068;
  color: white;
  border: 1px solid #da3068;
}

.message {
  width: 100px;
  height: 30px;
  background-color: #14469f;
  color: white;
  border: 1px solid #14469f;
}

.message-main {
  position: fixed;
  width: 500px;
  height: 500px;
  top: 150px;
  right: 10px;
  background-image: linear-gradient(to top, #da3068, #14469f);
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 10px 20px;
}

.message-header {
  background-color: black;
  padding: 10px;
  display: flex;
  gap: 20px;
  border-radius: 10px;
}

.message-close {
  position: absolute;
  top: 15px;
  right: 25px;
  display: flex;
  justify-content: end;
}

.message-close button {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: red;
  border-radius: 50%;
  border: none;
}

.small-profile {
  color: white;
}

.user-info {
  color: white;
}

.inside-content {
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.message-div input {
  flex: 1;
  width: 400px;
  border: 1px solid #ccc;
  outline: none;
  padding: 5px;
  border-radius: 10px;
}

.message-div button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 30px;
  color: white;
  border: 1px solid #14469f;
  background-color: #14469f;
}

.footer{
  position: relative;
  width: 450px;
  height: 450px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.messages{
flex: 1;
overflow-y: auto;
max-height: 400px;
border: 1px solid #ccc;
margin-top: 3px;
}

.messages ul {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 20px;
  padding: 15px 10px;
}

.messages li {
  display: flex;
  align-items: center;
  background-color: white;
  height: 30px;
  border-radius: 5px;
}

.message-div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  gap: 10px;
}
